.cabecera{
    display: flex;
    flex: 2;
    border: greenyellow solid;
    margin: 0 50px;
}

.titulo{
    border: purple solid;
    flex: 1;
}

.titulo img{
    width: 100%;
}

.titulo h5,h1{
    margin: 0;
}

.img_nintendo{
    flex: 1;
    border: blueviolet solid;
    display: flex; 
    justify-content: center;
    align-items: center; /* Centra verticalmente */
}

.medio{
    border: blue solid;
    flex: 4;
    display: flex;
    margin: 0 50px;
}

.medio_left{
    flex: 1;
    border: yellow solid;
}

.medio_medio{
    flex: 2;
    border: solid aquamarine;
}


.medio_medio p{
    border: red  solid;
    padding: 20px;
}

.medio_right {
    flex: 1;
    border: blueviolet solid;
    display: flex; 
    justify-content: center;
    align-items: center; /* Centra verticalmente */
}


.abajo{
    border: green solid;
    margin: 0 50px;
    flex: 2;
    display: flex;
    height: 70px;
}

.abajo_left{
    border: gray solid;
    flex: 1;
}

.abajo_right{
    border: peru solid;
    flex: 1 ;
    
}

.abajo_right p , .abajo_left p{
    border: peru solid;
    flex: 1 ;
    text-align: center;
}