.cabecera {
    display: flex;
    margin: 0 50px;
    align-items: center; 
}

.titulo {
    flex: 1;
}

.titulo h5, h1 {
    margin: 0;
}

.img_nintendo {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.img_nintendo img {
    height: 100px; 
    width: auto;   
}


.medio{
    flex: 4;
    display: flex;
    margin: 0 50px;
}

.medio_left{
    flex: 1;
}

.medio_medio{
    flex: 2;
}


.medio_medio p{
    padding: 20px;
}

.medio_right {
    flex: 1;
    display: flex; 
    justify-content: center;
    align-items: center; /* Centra verticalmente */
}


.abajo{
    margin: 0 50px;
    flex: 2;
    display: flex;
    height: 70px;
}

.abajo_left{
    flex: 1;
}

.abajo_right{
    flex: 1 ;
    
}

.abajo_right p , .abajo_left p{
    flex: 1 ;
    text-align: center;
}