body{
    margin: 0 50px;
}
.cabecera {
    box-sizing: border-box;
    border: 1px solid blue;
    width: 100%;
    float: left;
}

.cabecera div {
    height: 100px;
}

.cabecera_left {
    width: 30%;
    float: left;
    background: pink;
    text-align: center;       /* Centra el texto horizontalmente *          /* Ajusta el padding superior e inferior para centrarlo verticalmente */
}

.cabecera_left h1{
    padding: 25px 0px 0 0;
}

.cabecera_right {
    width: 69%;
    float: right;
    background: cyan;
    display: flex; 
    justify-content: center;
    align-items: center; 
}

.medio {
    box-sizing: border-box;
    border: 1px solid blue;
    width: 100%;
    float: left;
}

.medio div{
    height: 150px;
}

.medio_left {
    width: 20%;
    float: left;
    background: pink;
}

.medio_left h3{
    text-align: center;
}

.medio_center {
    float: left;
    width: 60%;
    background: rgb(245, 108, 131);
}

.medio_center p{
    text-align: center;
    padding: 20px;
}

.medio_right {
    width: 20%;
    float: right;
    background: pink;
}

.medio_right img {
    display: block;             
    margin: 0 auto;     
    padding-top: 10%;
}


.abajo {
    box-sizing: border-box;
    border: 1px solid blue;
    width: 100%;
    float: left;
}



.abajo_left {
    width: 50%;
    float: left;
    background: pink;
}

.abajo_left p{
    padding-left: 15px;
}


.abajo_right {
    width: 50%;
    float: right;
    background: cyan;
    text-align: center;
}